[submodule ".config/X11/xrthemes"]
	path = .config/X11/xrthemes
	url = https://github.com/fixedbyte/xrthemes.git
[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:fixedbyte/wallpapers.git
[submodule ".config/alacritty/alacritty-theme"]
	path = .config/alacritty/alacritty-theme
	url = git@github.com:fixedbyte/alacritty-theme.git
